@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  font-family: "Poppins";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("./resources/img/bg-4.jpg");
  background-position: center;
  background-attachment: fixed!important;
  background-size: contain!important;
}


/* Wave Animation */
.wave {
  animation-name: wave-animation; 
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

/* Image */
.img img {
  max-width: 400px;
  animation: animate 5s linear infinite; 
}

@media only screen and (max-width: 1100px) {
  .img img {
    display: none;
  }
}

/* Main window */

section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 50px;
}

@media (max-width: 900px) {
  section {
    padding: 50px 10px 10px;
  }
}

.main-window {
  position: relative;
  width: calc(100% - 100px);
  min-height: calc(100vh - 280px);
  min-height: 300px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.05);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  margin-top: 60px;
}

@media (max-width: 900px) {
  .main-window {
    flex-direction: column;
    margin-top: 200px;
    height: auto;
    padding: 10px;
    width: calc(100% - 75px);
  }
}


/* Nav Bar */
header {
  position: fixed;
  top: 10px;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.05);
  border-radius: 1rem;
  backdrop-filter: blur(1rem);
  z-index: 90;
  width: calc(100% - 180px);
}

.logo-img {
  width: 80px;
  height: auto;
  margin-right: 10px;
}


header ul {
  display: flex;
}

header ul li {
  list-style: none;
  margin: 0 10px;
}

header ul li a {
  text-decoration: none;
  font-weight: 500;
  color: black;
  padding: 8px 15px;
  border-radius: 1rem;
  transition: 500ms ease;
}

header ul li a:hover,
header ul li a.highlight {
  background: hsla(0, 0%, 100%, 1);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 900px) {
  header {
    position: fixed;
    top: 10px;
    width: calc(100% - 80px);
    flex-direction: column;
    padding: 20px;
  }
  header ul {
    margin-top: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }

  header ul li {
    margin: 2px;
  }

  header ul li a {
    display: inline-block;
  }
}

/* Content */
.content {
  display: flex;
  z-index: 1;
  margin-top: 50px;
  align-items: center;
}

@media (max-width: 900px) {
  .content {
    flex-direction: column;
    transform: translateX(0px);
    max-width: 100%;
    margin-top: 10px;
  }
}

/* Column */
.column {
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.05);
  border-radius: 1rem;
  backdrop-filter: blur(1rem);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  padding: 40px;
}

.column-2 {
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.05);
  border-radius: 1rem;
  backdrop-filter: blur(1rem);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  padding: 40px;
  margin-inline: 50px;
  margin-right: 0px;
}

@media (max-width: 900px) {
  .column-2 {
    position: relative;
    right: 0px;
    left: 0px;
    width: 100%;
    margin-top: 80px;
    margin-right: 0px;
    margin-left: 0px;
  }
}

.column h2 {
  font-size: 3rem;
  color: black;
}
.column-2 h2 {
  font-size: 3rem;
  color: black;
}

.column h3 {
  font-size: 1.5rem;
}

.column p {
  font-size: 1.5rem;
  color: black;
  line-height: 2.25rem;
}

@media (max-width: 900px) {
  .column h2 {
    font-size: 2.5rem;
  }
  .column-2 h2 {
    font-size: 2.8rem;
  }
  .column p {
    font-size: 1.2rem;
  }
  .mob-h2 {
    font-size: 2.8rem !important;
  }
}

.column p {
  font-size: 1rem;
}

.explore-heading{
  font-size: 2.8rem !important;
}

.highlight-green {
  letter-spacing: 2px;
  padding: 0 5px;
  background: linear-gradient(to bottom, transparent 50%, #72fa66 50%);
}

.highlight-cyan {
  letter-spacing: 2px;
  padding: 0 5px;
  background: linear-gradient(to bottom, transparent 50%, #00ead3 50%);
}

.highlight-skin {
  letter-spacing: 2px;
  padding: 0 5px;
  background: linear-gradient(to bottom, transparent 50%, #fff5b7 50%);
}

.highlight-pink {
  letter-spacing: 2px;
  padding: 0 5px;
  background: linear-gradient(to bottom, transparent 50%, #ff6db7 50%);
}

.explore-cards-div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  grid-gap: 1rem 1rem;
  gap: 1rem 1rem;
  margin-top: 25px;
}

.explore-card {
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.05);
  border-radius: 1rem;
  backdrop-filter: blur(1rem);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  transition: 0.5s ease;
}

.explore-card:hover {
  box-shadow: 0 20px 30px -10px rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.5);
}

.explore-banner{
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 150%;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5));
    border-radius: 10px 10px 0 0;
    -webkit-filter: blur(0);
    -moz-filter: blur(0);
    -o-filter: blur(0);
    -ms-filter: blur(0);
    filter: blur(0);
    height: 11rem;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    -webkit-justify-content: center;
    justify-content: center;
}

.explore-text-details{
  padding: 1.5rem;
}

.explore-text-heading{
  text-align: center;
  color: #000;
  font-weight: 400;
  font-size: 25px;
  margin: 0;
  line-height: normal;
}

.explore-text-desc{
  color: #868e96;
  text-align: center;
}

.explore-heading{
  font-size: 56px; 
  font-weight: 700; 
  margin-top: 50px
}

.column-text{
  font-size: 24px;
  color: #444444;
  font-weight: 1;
}

.team-members-div{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem 1rem;
  margin-top: 25px;
}

.member-card{
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.05);
  border-radius: 1rem;
  backdrop-filter: blur(1rem);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  padding: 1.5rem;
  transition: all 0.3s ease;
}

.member-card:hover {
  box-shadow: 0 20px 30px -10px rgba(0, 0, 0, 0.2);
}

.member-pic{
  position: relative;
  height: 250px;
  overflow: hidden;
  text-align: center;
}

.member-img{
  max-width: 100%;
  height: auto;
  width: 250px;
}

.member-detail{
  text-align: center;
}

.member-name{
  color: #000;
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  margin: 15px 0 0;
}

.member-about{
  color: #666;
  font-size: 17px;
  line-height: 1.5rem;
}

.button-top-div {
  position: fixed;
  bottom: 20px;
  right: -24px;
  cursor: pointer;
  padding: 20px 50px;
  display: flex;
  align-items: center;
  z-index: 80;
}

@media (max-width: 900px) {
  .button-top-div {
    position: fixed;
    right: 0px;
  }
}

#button-top {
    text-decoration: none;
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(1rem);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 5px 0;
    transition: 0.5s ease;
}

#button-top:hover {
  background: rgba(255, 255, 255, 0.8);
}

#button-top::after {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}