@font-face {
    font-family: "Poppins";
    src: url("./resources/fonts/Poppins-Regular.ttf");
  }

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 50px;
}

*{
    font-family: "Poppins";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    display: block;
}

.section-1{
    background-image: url("./resources/img/bg7.jpg");
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
}

.logo-img {
    width: 80px;
    height: auto;
    margin-right: 10px;
}

.container {
    position: relative;
    width: calc(100% - 100px);
    min-height: calc(100vh - 280px);
    min-height: 300px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.05);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    margin-top: 60px;
}

header {
    position: fixed;
    top: 10px;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.05);
    border-radius: 1rem;
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    z-index: 90;
    width: calc(100% - 180px);
}

header .logo {
    color: black;
    font-weight: 700;
    text-decoration: none;
    font-size: 2rem;
}

header ul {
    display: flex;
}

header ul li {
    list-style: none;
    margin: 0 10px;
}

header ul li a {
    text-decoration: none;
    font-weight: 500;
    color: black;
    padding: 8px 15px;
    border-radius: 1rem;
    transition: 500ms ease;
}

header ul li a:hover, header ul li a.highlight {
    background: hsla(0, 0%, 100%, 1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.heading-container{
    display: flex;
    z-index: 1;
    margin-top: 50px;
    align-items: center;
}

.main-heading{
    font-size: 3rem;
    color: black;
}

.heading-content{
    font-size: 1.5rem;
    color: black;
    line-height: 2.25rem;
}

.getting-started-btn{
    display: inline-block;
    padding: 0.9rem 1.8rem;
    color: black;
    margin-top: 20px;
    margin-right: 10px;
    border-radius: 30px;
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    background: rgba(9, 192, 9, 0.5);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    transition: 500ms ease;
}

.getting-started-btn:hover{
    background: #024c41;
    color: #fff;
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.05);
}

.profile-img{
    max-width: 400px;
    top: 5rem;
    right: 14rem;
}

.wave {
    animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s; /* Change to speed up or slow down */
    animation-iteration-count: infinite; /* Never stop waving :) */
    transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
    display: inline-block;
}


@keyframes wave-animation {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(14deg);
    } /* The following five values can be played with to make the waving more or less extreme */
    20% {
      transform: rotate(-8deg);
    }
    30% {
      transform: rotate(14deg);
    }
    40% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(0deg);
    } /* Reset for the last half to pause */
    100% {
      transform: rotate(0deg);
    }
  }


/*Section 2*/

.section-2{
    background-image: url("./resources/img/bg1.jpg");
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
}

.profile-img{
    max-width: 400px;
    top: 5rem;
    right: 15rem;
}

.content-2{
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.05);
    border-radius: 1rem;
    backdrop-filter: blur(1rem);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding: 40px;
    margin-inline: 50px;
    margin-right: 0px;
}

.content-2 h2 {
    font-size: 3rem;
    color: black;
}

.highlight-pink {
    letter-spacing: 2px;
    padding: 0 5px;
    background: linear-gradient(to bottom, transparent 50%, #ff6db7 50%);
}

.about-us-text{
    color: #444444;
    font-size: 20px;
}