*{
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
  background-image: url("./resources/img/introbg.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  box-sizing: border-box;
  cursor: none;
}

a{
  text-decoration: none;
}

nav, .heading_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-top: 3vh;
  padding: 10px 20px;
  width: 80vw;
  min-height: 12vh;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.05);
  border-radius: 1rem;
  backdrop-filter: blur(1rem);
  border: 1px solid rgba(255, 255, 255, 0.25);
}
nav .logo{
  color: rgb(7, 245, 7);
  font-weight: 700;
  font-size: 3rem;
}
nav .logo span{
  color: rgb(20, 163, 20);
}
.menu ul{
  display: flex;
}
.menu ul li {
  list-style: none;
  margin: 0 10px;
}
.menu ul li a{
  font-size: 20px;
  font-weight: 500;
  color: black;
  padding: 8px 15px;
  border-radius: 1rem;
  transition: 500ms ease;
}
.menu ul li a:hover, .menu ul li a.highlight {
  background: hsla(0, 0%, 100%, 1);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.heading_container{
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.05);
  border: 0;
  backdrop-filter: blur(0);
}
.main-heading{
  font-size: 3rem;
  color: black;
}
.highlight-green {
  letter-spacing: 2px;
  font-size: 3rem;
  font-weight: 600;
  color: black;
  padding: 0 5px;
  background: linear-gradient(to bottom, transparent 50%, #72fa66 50%);
}

.heading-content{
  font-size: 1.5rem;
  color: black;
  line-height: 2.25rem;
}
/*Wave*/
.wave {
  font-size: 3rem;
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
.getting-started-btn{
  display: inline-block;
  padding: 0.9rem 1.8rem;
  color: black;
  margin-top: 20px;
  margin-right: 10px;
  border-radius: 30px;
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
  background: rgba(20, 156, 20, 0.5);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  transition: 500ms ease;
}

.getting-started-btn:hover{
  background: #024c41;
  color: #fff;
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.05);
}

.profile-img{
  max-width: 400px;
  top: 5rem;
  right: 15rem;
  border-radius: 1rem;
}

.circle-cursor {
  position: fixed;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 2px solid #000;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  transition: transform 0.3s ease-in-out;
  pointer-events: none;
  z-index: 9999;
}

.circle-cursor.visible {
  visibility: visible;
}
