@font-face {
  font-family: "Nunito";
  src: url(./resources/fonts/Nunito-Regular.ttf);
}

:root {
  font-size: 16px;
  --dark-blue: rgb(3, 59, 105);
  --yellow-green: rgb(105, 153, 9);
  --white: rgb(255, 255, 255);
  --dark-green: rgb(9, 103, 18);
}
* {
  font-family: "Nunito";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
/* sign up css */
.signup-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  border-radius: 2rem;
  background: rgb(243, 247, 239);
}
.signup-form-box {
  padding: 1rem;
  width: 50%;
}
.signup-form-header {
  display: flex;
  align-items: center;
  width: 100%;
  color: var(--yellow-green);
}
.signup-form-header img,
.logo {
  width: 20%;
  border-radius: 5rem;
}
.signup-form-header h2 {
  margin-left: 2rem;
  font-size: 3rem;
  width: 80%;
}
.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2rem;
  width: 90%;
  height: 60vh;
  padding: 1rem;
  margin: 1.5rem auto;
  color: var(--yellow-green);
}
.signup-form p {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.signup-form a {
  color: darkgreen;
}
.form-input {
  width: 60%;
  margin: 0.5rem;
  padding: 0.7rem;
  outline: none;
  border: 1px solid var(--yellow-green);
  border-radius: 0.3rem;
}
input:focus {
  background-color: rgb(225, 242, 219);
  outline: none;
  border: 1px solid var(--yellow-green);
}
.signup-form .inner-form {
  display: flex;
  width: 60%;
  justify-content: space-between;
  padding: 0.5rem;
  color: darkgreen;
}
.login-but {
  font-size: 1rem;
  background: none;
  color: var(--yellow-green);
  border: 0.1rem solid var(--yellow-green);
  width: 60%;
}
.login-but:hover {
  background-color: var(--yellow-green);
  color: var(--white);
}
/* Banner will only appear when min-width: 961 */

@media (min-width: 961px){
  .signup-banner {
    width: 50%;
    background: url(resources/img/signup-banner.jpg);
    background-size: cover;
  }
}
/* sign up css ends */

/* Responsive */
@media screen and (max-width: 736px)
{
  body {
    overflow: hidden;
    background: rgb(243, 247, 239);
  }
  .signup-container{
    border-radius: 0;
  }
  .signup-form-header{
    width: 400px;
  }
  .signup-form-header img{
    width: 15%;
  }
  .signup-form-header h2{
    font-size: 2rem;
  }
  .signup-form{
    width: 400px;
    margin-top: 150px;
  }
  .signup-form p h2 {
    font-size: 2rem;
  }
  .signup-form h2{
    margin-bottom: 10px;
  }
  .signup-form span{
    margin-top: 10px;
  }
  .form-input{
    width: 80%;
  }
  .signup-form .inner-form {
    width: 80%;
  }
  .alert-div{
    width: 80%!important;
  }
}

/* Alert */
.alert-div{
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: .875rem .875rem;
  border: 1px solid transparent;
  border-radius: .375rem;
  font-size: .875rem;
  color: #fff !important;
  box-shadow: 0 0 1.25rem rgba(31,45,61,.05)!important;
  background-color: #f25767 !important;
  width: 60%;
}