* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100%;
    font-family: Arial, sans-serif;
    background-image: url(../img/q-bg2.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 3vh;
    margin-bottom: 10vh;
    padding: 10px 20px;
    width: 90vw;
    min-height: 12vh;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.05);
    border-radius: 1rem;
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);
    border: 1px solid rgba(255, 255, 255, 0.25);
}

nav .logo {
    color: black;
    font-weight: 700;
    text-decoration: none;
    font-size: 2rem;
}

.logo-img {
    width: 80px;
    height: auto;
    margin-right: 10px;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    margin: 0 10px;
}

nav ul li a {
    font-weight: 500;
    color: black;
    padding: 8px 15px;
    border-radius: 1rem;
    transition: 500ms ease;
}

nav ul li a:hover,
nav ul li a.highlight {
    background: hsla(0, 0%, 100%, 1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.quiz_select {
    display: flex;
    margin: 5vh;
    margin-left: 5vw;
    padding: 20px;
    border-radius: 1rem;
    background: rgba(24, 184, 24, 0.5);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    width: 60vw;
    transition: 500ms ease;
}

.quiz_select a {
    color: #fff;
    font-weight: 700;
    font-size: 30px;
}

.quiz_select:hover {
    background: #068572;
    color: #fff;
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.05);
}

@media (max-width: 900px) {
    nav {
      position: fixed;
      top: 10px;
      width: calc(100% - 80px);
      flex-direction: column;
      padding: 10px;
      margin-left: 30px;
    }
    nav ul {
      margin-top: 10px;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    nav ul li {
      margin: 2px;
    }
  
    nav ul li a {
      display: inline-block;
    }
    .quiz-wrapper{
        margin-top: 400px;
        margin-left: 30px;
    }
  }