body {
  height: 100%;
  font-family: Arial, sans-serif;
  background-image: url(../img/q-bg2.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85vw;
  margin: auto;
  margin-top: 1vh;
}

.back_btn {
  color: #fff;
  font-size: 25px;
  padding: 8px;
  border-radius: 1rem;
  background: rgb(84, 186, 233);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  transition: 1s ease;
}

.back_btn:hover {
  background: #109682;
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.05);
}

.logo-img {
  width: 120px;
  height: auto;
}

.main {
  margin-top: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.quiz-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 90vw;
}

.quiz-title {
  font-weight: 700;
  font-size: 4rem;
}

.quiz-score {
  background-color: #000408;
  color: #ffffff;
  padding: 4px 10px;
  border-radius: 8px;
  margin-right: 80px;
}

.quiz-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.question-number,
.question-title {
  margin-bottom: -40px;
}

.question-title {
  font-weight: 400;
  font-size: 2rem;
}

.option-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.option-container-img {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.option-btn {
  background-color: #000408;
  color: #ffffff;
  padding: 8px;
  border-radius: 8px;
  margin-top: 20px;
  margin-right: 50px;
  width: 200px;
  text-align: center;
}

.option-btn:hover {
  background-color: blue;
  cursor: pointer;
}


/*changing color*/
.correct {
  background-color: #0af702 !important;
}

.wrong {
  background-color: red !important;
}